body {
  background-color: blue;
  background-image: url("../images/crystalbg.jpg");
  
  }

h1 {
  font-size: 50px;
  color: blue;
  align-items: center;
}

.jumbotron {
  padding:15px;
  margin-bottom:20px;
}

.btn {
height:150px; 
width: 150px;  


}

#btn1 {
  background-image:url('../images/clear.jpg');
}

#btn2 {
  background-image:url('../images/diamond.jpg');
}
#btn3 {
  background-image:url('../images/purple.jpg');
}
#btn4 {
  background-image:url('../images/star.jpg');
}